#main {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    #header {
        font-size: 20px;
        border-bottom: 1px solid #e5e5e5;
        padding-left: 50px;
        height: 60px;
        line-height: 60px;
    }
}

.login-container {
    background-color: #303880;
    height: 100%;
    width: 100%;
}

.login-form-container {
    height: 50%;
    background-color: #fff;
}

.login-form {
    padding-top: 40px;
}

.logo {
    padding-bottom: 10px;
}

.error-text {
    text-align: center;
}
