<div id="main">
    <div id="header">
        Retailer Suite
    </div>
    <div class="login-container">
        <div class="login-form-container">
            <form *ngIf="!passwordChangedSuccess" class="text-left col-sm-4 offset-sm-4 login-form" (ngSubmit)="onSubmit()" #resetForm="ngForm"
                  novalidate>
                <div class="logo col-sm-12">
                    <img [src]="bannerImageUrl" class="img-fluid" alt="image">
                </div>
                <p class="text-danger error-text">{{errorText}}</p>
                <div class="form-group row">
                    <label for="lg_password" class="sr-only">New Password</label>
                    <input type="password" class="form-control" id="lg_password" name="lg_password"
                           placeholder="New password" [(ngModel)]="password"
                           required>
                </div>
               <div class="form-group row">
                    <label for="lg_confirmPassword" class="sr-only">Confirm Password</label>
                    <input type="password" class="form-control" id="lg_confirmPassword" name="lg_confirmPassword"
                           placeholder="Confirm password" [(ngModel)]="passwordConfirmation"
                           required>
                </div>
                <div class="form-group row">
                    <button type="button" class="col-sm-4 btn btn-link" (click)="navigateLogin()" [disabled]="loading">
                        Back to Login
                    </button>
                    <button type="submit" class="form-control col-sm-4 offset-sm-4" [disabled]="loading || !resetForm.form.valid">
                        Change password
                    </button>
                </div>
            </form>
            <div *ngIf="passwordChangedSuccess" class="col-sm-12">
                <h6 style="margin: 20px;" class="text-center">Your password was successfully changed</h6>
                <div class="col-sm-12 offset-sm-4">
                    <div class="form-group row">
                        <button type="button" class="col-sm-4 form-control" (click)="navigateLogin()" [disabled]="loading">
                            Back to Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
