$theme-color: #303880;
.ui-dataview {
    .ui-widget-header {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $theme-color !important;
        color: $theme-color;
    }
}

.ui-widget-content {
    border: none !important;
}

.ui-widget {
    font-family: inherit !important;
    font-size: 10px !important;
}

.ui-widget-header {
    background: none !important;
}

.ui-corner-all {
    border-radius: 1px !important;
}

.ui-widget-overlay {
    background-color: #ffffff !important;
}
