@model Refundeo.Core.Models.RefundCase.VatFormModel

<h1> GetSamples</h1 >

<table class="table">
    <tr >
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr >
</table>
<p>
