.tab-content {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
}

.card {
    border-radius: 1px !important;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

.statistic-left {
    font-size: 15px;
}

.statistic-right {
    font-size: 15px;
}

.statistic-row {
    display: flex;
    justify-content: space-between;
}

.top-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.center-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-row {
    margin-bottom: 20px;
    margin-top: 10px;
}
