<div id="main">
    <div id="header">
        Login
    </div>
    <div class="login-container">
        <div class="login-form-container">
            <form class="text-left col-sm-4 offset-sm-4 login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm"
                  novalidate>
                <div class="logo col-sm-12">
                    <img [src]="bannerImageUrl" class="img-fluid" alt="image">
                </div>
                <p class="text-danger error-text">{{errorText}}</p>
                <div class="form-group">
                    <label for="lg_username" class="sr-only">Username</label>
                    <input type="text" class="form-control" id="lg_username" name="lg_username"
                           placeholder="username" [(ngModel)]="model.username"
                           #username="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="lg_password" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="lg_password" name="lg_password"
                           placeholder="password" [(ngModel)]="model.password"
                           #password="ngModel" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control col-sm-4 offset-sm-8" [disabled]="loading">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
