<div class="cities-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Add a city
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <form (ngSubmit)="onAddCityForm()" #addCityForm="ngForm">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="inputName">Name</label>
                        <div class="col-lg-9">
                            <input type="text" name="inputName" class="form-control"
                                   id="inputName" required
                                   [(ngModel)]="city.name"
                                   placeholder="Aa">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="inputGooglePlaceId">Google Place ID</label>
                        <div class="col-lg-9">
                            <input type="text" name="inputGooglePlaceId" class="form-control"
                                   id="inputGooglePlaceId" required
                                   [(ngModel)]="city.googlePlaceId"
                                   placeholder="AaBbCcDd-EeFfGgHh123">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="inputLatitude">Latitude</label>
                        <div class="col-lg-9">
                            <input type="number" name="inputLatitude" class="form-control"
                                   id="inputLatitude" required
                                   [(ngModel)]="city.latitude"
                                   placeholder="12.3...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="inputLongitude">Longitude</label>
                        <div class="col-lg-9">
                            <input type="number" name="inputLongitude" class="form-control"
                                   id="inputLongitude" required
                                   [(ngModel)]="city.longitude"
                                   placeholder="12.3...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label" for="inputImage">Image</label>
                        <div class="col-lg-9">
                            <label id="inputImage"
                                   class="form-control btn btn-primary col-xs-12 col-sm-3 upload-button">
                            Upload image<input type="file" accept="image/png" hidden required (change)="uploadCityImage($event)"
                                   name="inputImage">
                            </label>
                            <div *ngIf="city.image" class="row form-group">
                                <img class="img-thumbnail" [src]="city.image">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-9 offset-lg-3">
                            <button type="submit" class="btn btn-primary col-lg-12"
                                    [disabled]="!addCityForm.form.valid">
                                Add city
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="city-filter col-lg-12">
        <div class="form-group row">
            <label class="col-lg-3 col-form-label offset-lg-6 text-right" for=cityFilter>Filter</label>
            <div class="col-lg-3">
                <input type="text" name="inputImage" id="cityFilter" class="form-control"
                       [ngModel]="filter"
                       (ngModelChange)="onFilterChange($event)"
                       placeholder="Aa">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="city-container col-lg-3" *ngFor="let city of filteredCities;">
            <div class="city-button-container" (click)="onCityClicked(city)">
                <img draggable="false" class="city-image" src="{{city.image}}">
                <span class="city-name">{{city.name}}</span>
            </div>
            <div *ngIf="selectedCity && selectedCity === city" class="row">

            </div>
        </div>
    </div>
</div>
