@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

.cities-container {
    text-align: center;
    height: 100%;

    .upload-button {
        margin-top: 5px;
        height: 30px;
    }

    .city-container {
        text-align: center;

        .city-button-container {
            @include no-select;
            @include border-radius(4px);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
            cursor: pointer;
            transition: 0.25s;
            height: 150px;

            &:hover {
                box-shadow: 0.1em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.8);
                transform: translateY(-0.25em);
            }

            .city-image {
                @include border-radius(4px);
                pointer-events: none;
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: relative;
            }

            .city-name {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 75px;
                left: 50%;
                color: white;
                width: 100%;
                background-color: #000000;
                opacity: 0.7;
                font-size: 1.5em;
                font-weight: bold;
                text-align: center;
                padding: 10px;
            }
        }
    }

    .city-filter {
        margin-top: 25px;
    }
}
