.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.device-wrapper {
    position: fixed;
    width: (100% / 209.829619921363 * 100);
    overflow-y: scroll;
    font-size: 10px;
}

.device {
    background-image: url('../../../../../assets/images/portrait_black.png') !important;
}

.banner-container {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-size: cover;
    background: no-repeat 50% 50%;
}

.logo-container {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: #faf7f7;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 5px;
    border: 1px #CED0CE;
}

.logo {
    align-self: center;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.screen {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    background-color: #faf7f7;
    overflow: auto;
    min-height: 76%;
    height: auto !important;
}

.banner-text-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #303880;
    padding: 5px;
}

.header-container {
    height: 40px;
    background: #303880;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.company-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-text {
    color: #ffffff;
    font-size: 11px;
}

.back-icon {
    color: #ffffff;
    font-size: 18px;
}

.banner-column-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.left-text {
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #CED0CE;
}

.content-text {
    color: #faf7f7;
    margin-top: 3px;
    margin-bottom: 3px;
}

.content-container {
    padding-left: 10px;
    padding-right: 10px;
}

.description-container {
    white-space: pre-line;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bottom-title-text {
    color: #303880;
    font-size: 11px;
}

.bottom-text {
    color: #5a5a5a;
    font-size: 11px;
}

.center-text {
    margin-bottom: 0;
}

.upload-button {
    margin-top: 5px;
    height: 30px;
}

.description-text {
    white-space: pre-wrap;
}
