<div class="row">
    <div class="col-sm-6">
        <form class="align-self-center" (ngSubmit)="onSubmit()" #retailerForm="ngForm">
            <h6 *ngIf="isAdmin">Account Information</h6>
            <div *ngIf="isAdmin" class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" required
                       [(ngModel)]="model.username" name="username"/>
            </div>
            <div *ngIf="isAdmin" class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required
                       [(ngModel)]="model.password" name="password"/>
            </div>
            <h6 *ngIf="isAdmin">Retailer Information</h6>
            <h6 class="row" *ngIf="isMerchant">Company</h6>
            <div class="col-sm-12">
                <div *ngIf="isAdmin" class="form-group row">
                    <label id="uploadBanner"
                           class="form-control btn btn-primary col-sm-12 col-lg-12 col-xl-5 upload-button">
                        Upload Banner <input type="file" accept="image/png" hidden required
                                             (change)="uploadBanner($event)"
                                             name="banner">
                    </label>
                    <label id="uploadLogo"
                           class="form-control btn btn-primary col-sm-12 col-lg-12 col-xl-5 offset-xl-2 upload-button">
                        Upload Logo <input type="file" accept="image/png" hidden required (change)="uploadLogo($event)"
                                           name="logo">
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control"
                           id="companyName"
                           placeholder="Company Name"
                           required
                           [(ngModel)]="model.companyName"
                           name="companyName">
                </div>
            </div>
            <div *ngIf="isAdmin" class="form-group row">
                <div class="col-sm-12">
                    <label for="cvrNumber">CVR no.</label>
                    <input type="text" class="form-control" id="cvrNumber" placeholder="CVR no."
                           [(ngModel)]="model.cvrNumber" name="cvrNumber"/>
                </div>
            </div>
            <div *ngIf="isAdmin" class="form-group row">
                <div class="col-sm-12">
                    <label for="vatNumber">VAT no.</label>
                    <input type="text" class="form-control" id="vatNumber" placeholder="VAT no." required
                           [(ngModel)]="model.vatNumber" name="vatNumber"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="currency">Currency</label>
                    <input type="text" class="form-control" id="currency" placeholder="Currency" required
                           [(ngModel)]="model.currency" name="currency"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="description">Description</label>
                    <textarea class="form-control description-text" id="description" rows="5" placeholder="Description"
                              required
                              [(ngModel)]="model.description" name="description"></textarea>
                </div>
            </div>
            <h6 *ngIf="isAdmin" class="row">Fees</h6>
            <div *ngIf="isAdmin" class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="merchantFee">Merchant fee (%)</label>
                    <input type="number" class="form-control" id="merchantFee" placeholder="Merchant fee %" required
                           [(ngModel)]="model.merchantFee" name="merchantFee"/>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="adminFee">Admin fee (%)</label>
                    <input type="number" class="form-control" id="adminFee" placeholder="Admin fee %" required
                           [(ngModel)]="model.adminFee" name="adminFee"/>
                </div>
            </div>
            <div *ngIf="isAdmin" class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="vatRate">VAT Rate (%)</label>
                    <input type="number" class="form-control" id="vatRate" placeholder="VAT rate %" required
                           [(ngModel)]="model.vatRate" name="vatRate"/>
                </div>
            </div>
            <h6 class="row">Address</h6>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="streetName">Street name</label>
                    <input type="text" id="streetName" class="form-control" placeholder="Street name" required
                           [(ngModel)]="model.addressStreetName" name="streetName"/>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="houseNumber">House number</label>
                    <input type="text" id="houseNumber" class="form-control" placeholder="House number" required
                           [(ngModel)]="model.addressStreetNumber" name="streetNumber"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" placeholder="City" required
                           [(ngModel)]="model.addressCity" name="city"/>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="postalCode">Postal code</label>
                    <input type="text" id="postalCode" class="form-control" placeholder="Postal code" required
                           [(ngModel)]="model.addressPostalCode" name="postalCode"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="country">Country</label>
                    <input type="text" id="country" class="form-control" placeholder="Country" required
                           [(ngModel)]="model.addressCountry" name="country"/>
                </div>
            </div>
            <h6 class="row">Location</h6>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="latitude">Latitude</label>
                    <input type="number" class="form-control" id="latitude" placeholder="Latitude" required
                           [(ngModel)]="model.latitude" name="latitude"/>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="longitude">Longitude</label>
                    <input type="number" class="form-control" id="longitude" placeholder="Longitude" required
                           [(ngModel)]="model.longitude" name="longitude"/>
                </div>
            </div>
            <h6 class="row">Contact</h6>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-12">
                    <label for="contactEmail">Contact email</label>
                    <input type="email" class="form-control" id="contactEmail" placeholder="Contact email" required
                           [(ngModel)]="model.contactEmail" name="contactEmail"/>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="contactPhone">Contact phone</label>
                    <input type="tel" class="form-control" id="contactPhone" placeholder="Contact phone no."
                           required
                           [(ngModel)]="model.contactPhone" name="contactPhone"/>
                </div>
            </div>
            <h6 class="row">Opening Hours (HH:MM)</h6>
            <div *ngFor="let openingHour of openingHours">
                <div class="form-group row align-items-center">
                    <label *ngIf="openingHour.day === 0" class="col-sm-2 center-text">Monday</label>
                    <label *ngIf="openingHour.day === 1" class="col-sm-2 center-text">Tuesday</label>
                    <label *ngIf="openingHour.day === 2" class="col-sm-2 center-text">Wednesday</label>
                    <label *ngIf="openingHour.day === 3" class="col-sm-2 center-text">Thursday</label>
                    <label *ngIf="openingHour.day === 4" class="col-sm-2 center-text">Friday</label>
                    <label *ngIf="openingHour.day === 5" class="col-sm-2 center-text">Saturday</label>
                    <label *ngIf="openingHour.day === 6" class="col-sm-2 center-text">Sunday</label>
                    <div class="col-lg-5 col-sm-12">
                        <input type="text" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" class="form-control" placeholder="Open"
                               [(ngModel)]="model.openingHours[openingHour.day].open" name="{{model.openingHours[openingHour.day].day}}open"/>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                        <input type="text" class="form-control" placeholder="Close"
                               [(ngModel)]="model.openingHours[openingHour.day].close" name="{{model.openingHours[openingHour.day].day}}close"/>
                    </div>
                </div>
            </div>
            <div *ngIf="isAdmin" class="form-group">
                <h6>Tags</h6>
                <div class="form-group row">
                    <div class="col-xl-6" *ngFor="let tag of tags">
                        <input type="checkbox" id="tag{{tag.key}}"
                               (change)="onCheckTag(tag)" [ngModel]="model.tags.indexOf(tag.key) > -1"
                               name="{{tag.value}}"/>
                        <label for="tag{{tag.key}}">{{tag.value}}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button *ngIf="!isMerchant" type="submit" [disabled]="!retailerForm.form.valid"
                        class="btn btn-primary col-sm-12">
                    Add retailer
                </button>
                <button *ngIf="isMerchant" type="submit" [disabled]="!retailerForm.form.valid"
                        class="btn btn-primary col-sm-12">
                    Save changes
                </button>
            </div>
        </form>
    </div>
    <div id="mockup-container" class="col-sm-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
        <div id="mockup-device" class="device-wrapper">
            <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="black">
                <div class="screen">
                    <div *ngIf="model.banner" class="banner-container"
                         [ngStyle]="{'background-image': 'url(data:image/png;base64,' + model.banner + ')'}">
                        <div *ngIf="model.logo" class="logo-container">
                            <img class="logo" [src]="'data:image/png;base64,' + model.logo">
                        </div>
                    </div>
                    <div class="banner-text-bar-container">
                        <div class="banner-column-container">
                            <span class="left-text">Opening hours</span>
                            <span class="left-text">Refund percentage</span>
                        </div>
                        <div class="banner-column-container">
                            <span class="content-text">{{model.openingHours[date.getDay() - 1]?.open}} - {{model.openingHours[date.getDay() - 1]?.close}}</span>
                            <span class="content-text">{{model.refundPercentage}}</span>
                        </div>
                    </div>
                    <div class="content-container">
                        <div class=description-container>
                            {{model.description}}
                        </div>
                        <div class="bottom-container" *ngIf="model.addressStreetName">
                            <span class="bottom-title-text">Address</span>
                            <span class="bottom-text">
                            {{model.addressStreetName}} {{model.addressStreetNumber}}, {{model.addressPostalCode}} {{model.addressCity}}, {{model.addressCountry}}
                        </span>
                        </div>
                        <div class="bottom-container" *ngIf="model.vatNumber">
                            <span class="bottom-title-text">VAT no.</span>
                            <span class="bottom-text">
                            {{model.vatNumber}}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
