.header-row {
}

.header-col {
    text-align: center;
}

.table-row {
    border-bottom: 1px solid #d9d9d9;
    display: flex;
}

.detail-description {
    text-align: right;
}

.detail-value {
    text-align: left
}

.table-col {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.ui-widget {
    font-family: inherit
}

.ui-button {
    font-family: inherit;
}
