.col {
    .parameters-col_description {
        position: relative;
        width: inherit !important;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

div {
    .try-out {
        padding-left: 50px;
    }
}