/* You can add global styles to this file, and also import other style files */
.col,.parameters-col_description {
    position: relative;
    width: inherit;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}