<div>
    <div class="nav-side-menu" id="menu">
        <div class="menu-body">
            <div class="brand">
                <a [routerLink]="brandLink">
                    <div class="logo-container">
                        <img [src]="logoImageUrl" class="img-fluid" alt="image">
                        <span i18n class="menu-text hide-on-collapse">Refundeo</span>
                    </div>
                </a>
            </div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <div *ngFor="let menuItem of menuItems; let last = last">
                        <li *ngIf="menuItem.routerLink"
                            [routerLinkActive]="['active']" [routerLink]="[menuItem.routerLink]"
                            [class.item-collapse]="!menuItem.children || menuItem.children.length === 0"
                            data-toggle="collapse"
                            [attr.data-target]="'#' + menuItem.displayName"
                            [routerLinkActiveOptions]="{ exact: true }" class="collapsed"
                            (click)="setActiveMenuItem(menuItem, false)" [class.last-item]="last">
                            <a>
                                <i [className]="'fa fa-lg menu-icon ' + menuItem.iconClass"></i> <span
                                class="menu-text hide-on-collapse">{{menuItem.displayName}}</span>
                            </a>
                        </li>
                        <li *ngIf="!menuItem.routerLink"
                            data-toggle="collapse"
                            [class.last-item]="last"
                            [attr.data-target]="'#' + menuItem.displayName" class="collapsed">
                            <a>
                                <i [className]="'fa fa-lg menu-icon ' + menuItem.iconClass"></i> <span
                                class="menu-text hide-on-collapse">{{menuItem.displayName}}</span>
                            </a>
                        </li>
                        <ul *ngIf="menuItem.children && menuItem.children.length > 0" class="sub-menu collapse"
                            [class.show]="isChildActive(menuItem)"
                            [attr.id]="menuItem.displayName">
                            <li *ngFor="let child of menuItem.children;"
                                class="item-collapse child-item"
                                [routerLinkActive]="['active']"
                                [routerLink]="[child.routerLink]" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="setActiveMenuItem(child, true)">
                                <i class="fa fa-lg fa-angle-right submenu-icon hide-on-collapse"></i>
                                <span class="menu-text">{{child.displayName}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-bottom-content">
                        <li *ngFor="let menuItem of bottomMenuItems.reverse();" [routerLinkActive]="['active']"
                            [routerLink]="[menuItem.routerLink]"
                            class="menu-bottom-item"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="setActiveMenuItem(menuItem, false)">
                            <a>
                                <i [className]="'fa fa-lg menu-icon ' + menuItem.iconClass"></i><span
                                class="menu-text hide-on-collapse">{{menuItem.displayName}}</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="menu-bottom">
            <ul>
                <li *ngFor="let menuItem of bottomMenuItems.reverse();" [routerLinkActive]="['active']"
                    class="menu-bottom-item"
                    [routerLink]="[menuItem.routerLink]" [routerLinkActiveOptions]="{ exact: true }"
                    (click)="setActiveMenuItem(menuItem, false)">
                    <a>
                        <i [className]="'fa fa-lg menu-icon ' + menuItem.iconClass"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div id="header">
            {{activeMenuItem.title}}
        </div>
        <div id="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
