$nav-width: 250px;
$collapse-break: 767px;
$nav-background-color: #e9ecef;
$nav-color: #303880;
$nav-active-color: #303880;
$nav-inactive-text-color: #303880;
$nav-active-text-color: #E9ECEF;
$nav-submenu-color: #E9ECEF;
$nav-border-bottom-color: #e9ecef;
$nav-border-left-color: $nav-background-color;
$nav-active-border-left-color: $nav-color;
$nav-border-color: #fff;
$nav-menu-line-height: 60px;
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-side-menu {
    color: $nav-color;
    width: $nav-width;
    font-size: 15px;
    font-weight: 200;
    resize: horizontal;
    overflow: auto;
    .menu-body {
        background-color: $nav-background-color;
        position: fixed;
        top: 0px;
        width: $nav-width;
        height: 100%;
        @include no-select;
        .brand {
            background-color: $nav-background-color;
            line-height: 50px;
            display: block;
            text-align: center;
            font-size: 20px;
            border-bottom: thin solid $nav-border-bottom-color;
            a {
                .logo-container {
                    padding: 30px 90px 0px 90px;
                }
                text-decoration: none;
                color: inherit;
                @include no-select;
            }
            img {
                @include no-select;
            }
        }
        .toggle-btn {
            display: none;
        }
    }
    ul,
    li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: $nav-menu-line-height;
        cursor: pointer;
        @include no-select;
    }
    ul :not(collapsed) .arrow:before,
    li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }
    ul .active,
    li .active {
        //border-left: 3px solid $nav-active-border-left-color;
        background-color: $nav-active-color;
        a {
            color: $nav-active-text-color;
        }
    }
    ul .sub-menu li.active,
    li .sub-menu li.active,
    ul .sub-menu li.active a,
    li .sub-menu li.active a {
        background-color: $nav-active-color;
        color: $nav-active-text-color;
    }
    ul .sub-menu li,
    li .sub-menu li {
        background-color: $nav-submenu-color;
        border: none;
        line-height: $nav-menu-line-height;
        border-bottom: thin solid $nav-border-bottom-color;
        margin-left: 0px;
    }
    ul .sub-menu li:hover,
    li .sub-menu li:hover {
        background-color: $nav-active-color;
    }
    ul .sub-menu li:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .last-item {
        border-bottom: thin solid $nav-border-color;
    }
    li {
        &:focus {
            outline: 0;
        }
        .sub-menu li:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }
        padding-left: 0px; // border-left: 3px solid $nav-border-left-color;
        border-top: thin solid $nav-border-color;
        @include no-select;
        a {
            text-decoration: none;
            color: $nav-inactive-text-color;
            @include no-select;
            i {
                padding-left: 25px;
                width: 20px;
                padding-right: 30px;
                text-align: center;
                @include no-select;
            }
        }
        &:hover {
            //border-left: 3px solid $nav-active-border-left-color;
            background-color: $nav-active-color;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            a {
                color: $nav-active-text-color
            }
        }
    }
    .menu-bottom {
        background-color: $nav-background-color;
        position: fixed;
        bottom: 0px;
        width: $nav-width;
        ul {
            margin: 0;
            width: 100%;
            padding: 0;
            overflow: hidden;
            display: table;
            li {
                display: table-cell;
                border-top: thin solid $nav-border-color;
                border-bottom: none;
                i {
                    width: auto
                }
            }
            li:nth-child(odd) {
                border-right: thin solid $nav-border-color;
            }
            li:last-child {
                border-right: none;
            }
            li a {
                display: block;
                text-align: center;
                line-height: $nav-menu-line-height;
                text-decoration: none;
                i {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}

@media (max-width: $collapse-break) {
    .nav-side-menu {
        .last-item {
            border-bottom: none;
        }
        .menu-body {
            position: relative;
            z-index: 2;
            width: 100%;
            .toggle-btn {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 20px;
                z-index: 10 !important;
                background-color: $nav-background-color;
                color: #000;
                width: 40px;
                text-align: center;
            }
            .brand {
                line-height: 10px !important;
                height: 70px;
                img {
                    display: none;
                }
                span {
                    text-align: left !important;
                    font-size: 22px;
                }
            }
        }
        width: 100%;
    }
    #main {
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 70px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        #header {
            font-size: 20px;
            padding-left: 50px;
            height: 60px;
            line-height: 60px;
            margin-bottom: 10px;
        }
    }
    .menu-bottom {
        display: none
    }
}

@media (min-width: $collapse-break) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    #main {
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 250px;
        overflow: hidden;
        #header {
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
        }
        #content {
            position: absolute;
            top: 60px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            padding: 20px 100px 90px 100px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .menu-bottom-content {
        display: none
    }
}

body {
    margin: 0px;
    padding: 0px;
}

#main {
    background-color: #fff;
    #header {
        font-size: 20px;
        border-bottom: 1px solid #e5e5e5;
        padding-left: 50px;
        height: 60px;
        line-height: 60px;
    }
}
